/* =========================================================
 * root variables
 * ========================================================= */
:root {
  --white: #e5e4e0;
  --black: #1d1d1d;
  --light-grey: rgba(111, 111, 111, 0.2);
  --ob-yellow: #facb0e;
  --ob-pink: #f06ba8;
  --ob-cyan: #78bae6;
  --dark-grey20: rgba(218, 218, 218, 0.2);
  --gainsboro: #dadada;
  --white-smoke: #f4f4f4;
  --transparent: var(--white);

  --main-dark: #1d1d1d;
  --main-dark-alt: #252525;
  --main-light: #e5e4e0;
  --main-light-alt: #f1f0ec;
  --primary-color: #ff642f;
  --dark-grey: rgba(218, 218, 218, 0.2);
  --dark-grey60: rgba(218, 218, 218, 0.6);
  --light-grey: rgba(111, 111, 111, 0.2);
  --light-grey60: rgba(111, 111, 111, 0.6);
  --grey-rotate: #bfbebe;
  --large-radius: 6.25em;
  --small-radius: 0.625em;
  --perspective: 4000px;
  --grid-inner-scale: 1;
  --grid-item-ratio: 1.5;
}

#root {
  background-color: #fafafa;
}

/* =========================================================
 * common
 * ========================================================= */

@font-face {
  font-family: 'Suite';
  src: url('fonts/SUITE-Variable.woff2') format('woff');
}
