/* default */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
p,
button,
iframe,
th,
td {
  margin: 0;
  padding: 0;
  line-height: 0;
  font-size: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
dt {
  font-weight: normal;
}
img,
fieldset,
iframe,
button {
  border: 0 none;
}
li {
  list-style: none;
}
i,
em,
u,
cite {
  font-style: normal;
}
strong {
  font-weight: normal;
}
a {
  color: #757575;
  text-decoration: none;
  outline-offset: -1px;
}
.chrome a,
.safari a {
  outline-offset: -3px;
}

html,
body {
  height: 100%;
  line-height: 0;
  font-size: 0;
}
body {
  overflow-x: hidden;
  word-break: keep-all;
  word-wrap: break-word;
}
body.non-scroll {
  overflow-y: hidden;
}

/* Form */
legend {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
}
select,
input,
textarea {
  outline: 0;
}
select,
input,
label {
  vertical-align: middle;
}
button {
  border: 0 none;
  cursor: pointer;
  background: none;
  font-family: "GmarketSans";
}

select::-ms-expand {
  display: none;
}
select::-moz-focus-inner {
  border: 0;
  padding: 0;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

*:focus {
  outline: 0;
}
